/*Estilo de la clase container*/
.container {
  width: 70%;
  margin: 0px auto; }
  .container h2 {
    color: #11A265;
    font-size: 30px; }
  .container p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; }

/*Estilo del menu*/
nav {
  background: #D9001B;
  height: 80px;
  width: 100%; }

label.logo {
  color: #FFF000;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; }

a.active, a:hover {
  color: #D9001B;
  background: #FFF000;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #FFF000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/*Resolucion maxima cuando motrar el logo*/
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px; }

  nav ul li a {
    font-size: 16px; } }
@media (max-width: 858px) {
  .checkbtn {
    display: block; }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #D9001B;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }

  nav ul li a {
    font-size: 20px; }

  a:hover, a.active {
    background: none;
    color: #FFF000; }

  #check:checked ~ ul {
    left: 0; } }
/*Estilo de la clase seccion.*/
.seccion {
  background-color: #D9001B;
  width: 80%;
  padding: 0.5px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-style: italic;
  font-size: 20px; }
  .seccion h1 {
    color: #FFFFFF;
    text-align: center; }

/*Estilo columna comentarios de clientes*/
.columna_izquierda {
  float: left;
  text-align: justify;
  font-size: 20px;
  margin-right: 10%;
  border-color: #D9001B;
  border-style: solid;
  margin: 55px;
  height: 200px;
  width: 320px;
  padding: 3px;
  /*Condiciones si la variable border-verder es true su colo se elegira verde, si border-amarillo es true se elegira amarillo y si los dos son falso sera rojo */
  border-color: #D9001B; }

/* external css: flickity.css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.gallery {
  background: #EEE; }

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell; }

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

/*Estilo de la clase columna*/
.columna {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 80px;
  column-gap: 40px;
  -webkit-column-rule: 1px solid #D9001B;
  -moz-column-rule: 1px solid #D9001B;
  column-rule: 1px solid #D9001B; }

/*Estilo de la clase pie de pagina*/
.piedepagina {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 60px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: #FFF000;
  background-color: #D9001B; }

/*Estilo de la clase cabecera*/
.cabecera {
  font-size: 55px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  color: #FFF000;
  background-color: #D9001B; }

/*Animacion de noticias*/
#animacion_imagen {
  animation: rotate 3s infinite;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running; }

@keyframes rotate {
  0%, 100% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); } }
/*Estilo de tabla*/
table.customTable {
  width: 100%;
  background-color: #19ADE4;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #D9001B;
  border-style: outset;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px; }

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #FFFFFF;
  border-style: outset;
  padding: 5px; }

table.customTable thead {
  background-color: #D9001B; }

/*Estilo Carusel imagen*/
.galeria {
  height: calc( 340px + 1em);
  width: 85%;
  margin: 1em auto;
  position: relative; }

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s; }

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 1.5em);
  left: .5em; }

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1; }

/*# sourceMappingURL=cssIndex.css.map */
