////@access public
////@author @JMORENO

/// Estilos de colores de la web
////@group colores
$color-background: #FFFFFF;
/// Estilo color base
////@group colores
$color-base: #FFF000;
/// Estilo de color negro
////@group colores
$color-negro: #000000;
/// Estilo de color verde
////@group colores
$color-verde: #11A265;
/// Estilo de color rojo
////@group colores
$color-rojo: #D9001B;


/// Tamaño del H2
////@group tamaño-letra
$size-font-h2: 30px;
/// Tamaño de la etiqueta P
////@group tamaño-letra
$size-font-p: 25px;
/// Estilo de tipo de letra P
////@group tamaño-letra
$tipo-letra-p: Arial, Helvetica, sans-serif;
/// Tamaño del H1
////@group tamaño-letra
$size-font-h1: 20px;


/// Estilos de colores de la web del menu Amarillo
////@group colores-Menu
$navbar-color: #FFF000;
/// Estilos de colores de la web del menu Rojo
////@group colores-Menu
$navbar-background-color: #D9001B;
/// Estilos de colores de la web del Background
////@group colores-Menu
$navbar-color-hover:$color-background;
/// Estilos de colores de la web del menu.
////@group colores-Menu
$border-color-rojo: #D9001B;

/// Dimension del Container
////@group dimensiones
$main-container-width: 75%;


// Estilo contenedor.
.container {
    width: $main-container-width;
    margin: 0px auto;

    h2{
        color: #11A265;
        font-size: $size-font-h2;
    }

    p{
        font-size: $size-font-p;
        font-family: $tipo-letra-p;
    }

   
}



//Estilo del menu
  nav{
    background :$color-rojo;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: $color-base;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: $color-rojo;
    background: $color-base;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: $color-base;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: $color-rojo;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color:$color-base;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  
  
//Estilo de seccion.

.seccion{
    background-color: $navbar-background-color;    
    width: 80%;
    padding: 0.5px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    font-style: italic;
    font-size: $size-font-h1;
    

    h1{
        color: $color-base;
        text-align: center;        
    }

}

.columna_izquierda
{
   float:left; 
   text-align: justify;
   font-size: 20px;
   margin-right: 10%;
   border-color: $border-color-rojo;
   border-style: solid;   
   margin: 55px;
   height: 200px;
   width: 320px;

  
   $border-verder: false;
   $border-amarillo: false;

   @if $border-verder == true{
       border-color: $color-verde;
   } @else if $border-amarillo{
       border-color: $color-base;
   } @else{
       border-color: $color-rojo;
   }
 
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.columna {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 80px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid $color-rojo;
    -moz-column-rule: 1px solid $color-rojo;
    column-rule: 1px solid $color-rojo;
  }

.piedepagina{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 60px;
    font-size: 20px;    
    padding: 5px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 
}

.cabecera{
    font-size: 55px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 

}






