//colores generales web

$color-background: #FFFFFF;
$color-base: #FFF000;
$color-negro: #000000;
$color-verde: #11A265;
$color-rojo: #D9001B;


//Colores menu
$navbar-color: #FFF000;
$navbar-background-color: #D9001B;
$navbar-color-hover:$color-background;
$border-color-rojo: #D9001B;

//Estilo contenedor
$main-container-width: 75%;

.container {
    width: $main-container-width;
    margin: 0px auto;

    h2{
        color: #11A265;
        font-size: 30px;
    }

    p{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

   
}

//Estilo menu
nav{
    background-color: $navbar-background-color;
    color: $navbar-color;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    font-size: 30px;  
    
 
    ul{
        li{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            

            &.active{
                
                color:$navbar-color-hover;
                font-weight: bolder;
            }

            a:hover{
                color: $color-background;              
                
                
            }

            a{
                text-decoration: none;
                color: $color-base;                
                padding: 8px;
                              
            }
        }
    }
}

//Estilo de seccion.

.seccion{
    background-color: $navbar-background-color;    
    width: 80%;
    padding: 0.5px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    font-style: italic;
    

    h1{
        color: $color-base;
        text-align: center;        
    }

}

.columna_izquierda
{
   float:left; 
   text-align: justify;
   font-size: 20px;
   margin-right: 10%;
   border-color: $border-color-rojo;
   border-style: solid;
   padding: 10px;  
   margin: 55px;
   height: 200px;
   width: 320px;
   
   
   
}

.columna {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 80px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid $color-rojo;
    -moz-column-rule: 1px solid $color-rojo;
    column-rule: 1px solid $color-rojo;
  }

.piedepagina{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 60px;
    font-size: 20px;    
    padding: 5px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 
}

.cabecera{
    font-size: 55px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 

}





