@import "variables";
/*Estilo de la clase container*/

.container {
    width: $main-container-width;
    margin: 0px auto;

    h2{
        color: #11A265;
        font-size: $size-font-h2;
    }

    p{
        font-size: $size-font-p;
        font-family: $tipo-letra-p;
    }

   
}
/*Estilo de la clase seccion*/
.seccion{
    background-color: $navbar-background-color;    
    width: 80%;
    padding: 0.5px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    font-style: italic;
    

    h1{
        color: $color-base;
        text-align: center;        
    }

}

/*Estilo de la clase pie de pagina*/
.piedepagina{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 60px;
    font-size: 20px;    
    padding: 5px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 
}

/*EStilo de la clase cabecera*/

.cabecera{
    font-size: 55px;
    width: 100%;  
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 

}

/*EStilo de la clase columna*/
.columna {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 80px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid $color-rojo;
    -moz-column-rule: 1px solid $color-rojo;
    column-rule: 1px solid $color-rojo;
  }
