h1{
    border-bottom: 2px solid #2175bc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#recuadro1{
    -moz-column-gap:40px;
    -webkit-column-gap:40px;
    column-gap:40px;
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    border-radius: 20px;  
    background-color:#ddd;
    width:600px;
    padding:10px;
}

