@import "variables";
/*Estilo de la clase cabecera*/
.cabecera{
    font-size: 55px;
    width: 100%;   
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 

}

/*EStilo de la clase container*/
.container {
    width: $main-container-width-galeria;
    margin: 0px auto;

    h2{
        color: #11A265;
        font-size: 30px;
    }

    p{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

   
}

/*Estilo de clase pie de pagina*/
.piedepagina{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 60px;
    font-size: 20px;    
    padding: 5px;
    text-align: center;
    color: $color-base;
    background-color: $navbar-background-color; 
}



@function anchura-columna($col, $total){
    @return porcentaje($col/$total);
}


/// Mixin para generar el margen de las cajas
/// @parameter {margen-galeria} --Contrendar el margen
/// @parameter {estilos-galeria} --contrendar los estilos
@mixin margen-galeria {
    margin: 78px;
    height: 350px;
    width: 480px;
  
}
@mixin estilos-galeria {
  margin-right: 1%;
  border-color: $border-color-rojo;
  border-style: solid; 
}


/*Estilo de la calse columna galeria*/
.columna_galeria
{
   float:left; 
   text-align: justify;
   @include estilos-galeria();  
   @include margen-galeria();  
   //witdh anchura-columna(2, 10) 
   
}

