h1 {
  border-bottom: 2px solid #00F;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    background-color: purple;
    color: gold;
    width: 30%;
}


ul {
    list-style-type: none;
     
    width: 120px;
    padding: 0;
  }
  
  li {
    background-color:purple;
    color: #FFF;    
    border: 2px solid #FFF;
  }
  
  li a {
    color: #FFF;
    text-decoration: none;   
    display: block;
    width: 100%;
  }
  
 
  li a:hover, li a:focus {
    outline: 2px solid gold;
  }