h1{
    border-bottom: 2px solid #2175bc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    animation-duration: 3s;
    animation-name: slidein;    
	text-align: center;
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }